.divCard {
  display: block;
  border: 1px solid black;
}
.imageCard {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.imageCard:hover,
.imageCard:focus {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgb(9, 111, 158);
}
